
.container-fluid {
    display:flex;
    flex-direction:column;
    margin-top:15px;
    width:100%;
}

@media only screen 
  and (min-device-width: 480px) {
  .toLeft {
    margin-left: 20.6%;
  }
}
.btn-primary {
    background-color:rgb(9, 157, 177);
}


.btn-primary, .btn-danger, .btn-secondary {
    margin:5px;
    width: 60px;
    height:60px;
}

 .btn-warning {
    margin:5px;
    width: 210px;
    height:60px;
}

#display {
    background-color:rgb(135, 220, 228);
    font-size: 3rem;
    border-radius: 10px;
    border: 2px solid rgb(58, 58, 58);
    color: rgb(58, 58, 58);
    font-weight: bold;
    text-align:center;
    
}

